.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    min-height: calc(100vh - 60px);
    flex-direction: column;
    padding-top: 7vh;
}

.loader,
.error {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 60px);
}
