.container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    min-width: 60px;
    min-height: 60px;
    padding: 20px;
    background-color: $basic-background;
    border-radius: 10px;
    color: $basic-text-color;
    transition: background-color 0.3s ease;
    z-index: 10;
    cursor: pointer;

    @media (hover: hover) {
        &:hover {
            box-shadow: 2px 2px 2px 2px rgb(169 169 169 / 34%);
        }
    }
}

.option {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;
    background-color: #bebebe;
    border-radius: 5px;

    &:hover {
        box-shadow: 2px 2px 2px 2px rgb(169 169 169 / 60%);
    }
}
