.container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
    margin-bottom: 40px;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.heading {
    padding-left: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        width: 100%;
        height: 100%;
        font-size: 30px;
    }

    button {
        text-wrap: nowrap;
        font-size: 20px;
        background-color: transparent;
        z-index: 2;
    }
}

.filmSection {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1vw;
    overflow: hidden;
    flex-grow: 1;
}

.film {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-grow: 1;
    min-width: 300px;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s ease;
    position: relative;
    z-index: 1;

    &:hover {
        transform: scale(1.04) translateY(-1px);
        box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
        z-index: 2;
    }
}

.navigation {
    position: absolute;
    height: 100%;
    left: -10px;
    top: 0;
    bottom: 0;
    width: calc(100% + 20px);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .moveButton {
        top: 50%;
        transform: translateY(-53%);
        height: 50%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: stretch;
        border: none;
        cursor: pointer;
        z-index: 10;
        font-size: 50px;
        width: 60px;
        padding: 60px 0 0;
        border-radius: 0;
        opacity: 1;
        color: #000;

        &:hover {
            background-color: transparent;
            opacity: 1;
            z-index: 16;
            color: white;
        }

        &.prevButton {
            left: 0;
        }

        &.nextButton {
            right: 0;
        }
    }
}
