.container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
    padding-bottom: 40px;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.heading {
    padding-left: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        width: 100%;
        height: 100%;
        font-size: 30px;
    }

    button {
        text-wrap: nowrap;
        background-color: transparent;
        font-size: 20px;
    }
}

.filmSection {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1vw;
    overflow: hidden;
    flex-grow: 1;
}

.film {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 20vh;
    min-width: 21vw;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s ease;
    position: relative;
    //border: 0;
    background-color: rgb(35 65 38 / 48%);

    &:hover {
        transform: scale(1.08) translateY(-10px);
        box-shadow:
            rgb(17 17 26 / 10%) 0 4px 16px,
            rgb(17 17 26 / 5%) 0 8px 32px;
        z-index: 2;
    }
}

.navigation {
    position: absolute;
    bottom: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 20vh;

    .moveButton {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: stretch;
        border: none;
        cursor: pointer;
        z-index: 10;
        font-size: 50px;
        height: 100%;
        opacity: 0.6;
        padding: 0 20px;
        border-radius: 0;
        color: #000;

        &:hover {
            background-color: transparent;
            opacity: 1;
            z-index: 16;
            backdrop-filter: blur(10px);
            color: white;
        }

        &.prevButton {
            left: 0;
        }

        &.nextButton {
            right: 0;
        }
    }
}
