.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #81c784;
    height: 60px;
    position: fixed;
    top: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5px 0;
    position: relative;
}

.logo,
.navbar,
.search {
    display: flex;
    align-items: center;
    justify-content: center;
    place-self: center center;
}

.logo {
    color: #2e4d30;
    height: 100%;
    gap: 5px;
}

.search {
    height: 100%;
    width: 40%;

    input {
        height: 80%;
        width: 100%;
        padding: 10px;
        font-size: 16px;
    }
}

.navbar {
    font-size: 25px;
    height: 80%;
}

.dropdown {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 15px 10px;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #81c784;
    gap: 5px;
    border-radius: 0 0 10px 10px;

    .dropdownLink {
        width: 100%;
    }

    .dropbutton {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;
    }

    button {
        width: 100%;
        text-align: left;
        font-size: 18px;
        font-weight: 700;
    }
}
