.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    min-height: calc(100vh - 60px);
    border: 1px solid black;
    padding: 10px 15px;
}
